{% extends "layout.html" %}
{% block content %}
    <div class="text-center" style="font-size: 120%">
        {% for post in posts.items %}
        <img src="{{ url_for('static',filename='profilePics/'+post.auther.image) }}" height="120px" width="120px" class="rounded-circle">
        <h2> <a  href="{{ url_for('post',postId=post.id )}}" class="text-success">{{ post['title'] }}</a></h2>
        <p class="text-left" style="white-space: pre-wrap"> {{ post.content }} </p>
        <p><i>By <b><a href="{{ url_for('user', username=post.auther.username) }}" class="text-success">{{ post.auther.username }}</a></b> 
            on <b>{{ post['date'].strftime('%Y-%m-%d %H:%M') }}</b></i></p>
            <hr>
        <br>
        {% endfor %}
        {% for pageNum in posts.iter_pages() %}
            {% if pageNum %}
                {% if pageNum == posts.page %}
                <a href="{{ url_for('home', page=pageNum) }}" class="btn btn-success" >{{ pageNum }}</a>
                {% else %}
                <a href="{{ url_for('home', page=pageNum) }}" class="btn btn-outline-success">{{ pageNum }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}