{% extends "layout.html" %}
{% block content %}
    <div class="text-center"> 
        <h2> {{ legend }} </h2> 
        <hr class="w-25 pb-3">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div style="color: darkred">
                {% if form.title.errors %}
                    <p>There should be a Title</p>
                {% endif %}
                {% if form.content.errors %}
                    <p>There should be Content </p>
                {% endif %}
            </div>
            <div class="form-group">
            {{ form.title.label }} : {{ form.title(class="form-control") }} 
            </div>
            <div class="form-group">
            {{ form.content.label }} : {{ form.content(class="form-control", rows="10") }} 
            </div>
            <div class="form-group">
            {{ form.submit(class="btn btn-success") }} 
            </div>
        </form>
    </div>

{% endblock content %}